<footer class="footer">
  <small>
    The <a href="#">Movie Library</a>
    by <a href="https://github.com.com/amisukanta">Sukanta</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/amisukanta/movie_collection">Movie collections source code</a></li>
    </ul>
  </nav>
</footer>
